<div class="filters-container">
    <button class="back-to-home" routerLink="/home">
      <mat-icon>arrow_back</mat-icon> Retour à l'accueil
    </button>
  
    <div class="search-bar">
      <div class="input-group">
        <label for="location">Lieu</label>
        <input id="location" type="text" [(ngModel)]="filters.location" placeholder="Entrez un lieu" />
      </div>
      <div class="input-group">
        <label for="contractType">Type de contrat</label>
        <select id="contractType" [(ngModel)]="filters.contractType">
          <option value="">Sélectionnez</option>
          <option value="CDI">CDI</option>
          <option value="CDD">CDD</option>
          <option value="Freelance">Freelance</option>
        </select>
      </div>
      <div class="input-group">
        <label for="workTime">Temps de travail</label>
        <select id="workTime" [(ngModel)]="filters.workTime">
          <option value="">Sélectionnez</option>
          <option value="35H">35H</option>
          <option value="39H">39H</option>
          <option value="Temps partiel">Temps partiel</option>
        </select>
      </div>
      <div class="input-group">
        <label for="experience">Expérience</label>
        <select id="experience" [(ngModel)]="filters.experience">
          <option value="">Sélectionnez</option>
          <option value="Débutant">Débutant</option>
          <option value="Intermédiaire">Intermédiaire</option>
          <option value="Expérimenté">Expérimenté</option>
        </select>
      </div>
      <div class="input-group">
        <label for="qualification">Qualification</label>
        <select id="qualification" [(ngModel)]="filters.qualification">
          <option value="">Sélectionnez</option>
          <option value="Technicien">Technicien</option>
          <option value="Ingénieur">Ingénieur</option>
          <option value="Cadre">Cadre</option>
        </select>
      </div>
      <div class="input-group">
        <label for="specialties">Spécialités</label>
        <mat-select id="specialties" [(ngModel)]="filters.specialties" multiple>
          <mat-option value="biologiste">Biologiste</mat-option>
          <mat-option value="Pédiatrie">Pédiatrie</mat-option>
        </mat-select>
      </div>
      <div class="button-group">
        <button class="search-button" (click)="applyFilters()">Rechercher</button>
        <button class="reset-button" (click)="clearFilters()">Réinitialiser</button>
      </div>
    </div>
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Titre </th>
          <td mat-cell *matCellDef="let offer">{{ offer.title }}</td>
        </ng-container>
  
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef> Entreprise </th>
          <td mat-cell *matCellDef="let offer">{{ offer.company?.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Localisation </th>
          <td mat-cell *matCellDef="let offer">{{ offer.location }}</td>
        </ng-container>
  
        <ng-container matColumnDef="contract">
          <th mat-header-cell *matHeaderCellDef> Contrat </th>
          <td mat-cell *matCellDef="let offer">{{ offer.contract }}</td>
        </ng-container>
  
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef> Salaire </th>
          <td mat-cell *matCellDef="let offer">{{ offer.salary }}</td>
        </ng-container>
  
        <ng-container matColumnDef="publicationDate">
          <th mat-header-cell *matHeaderCellDef> Publié le </th>
          <td mat-cell *matCellDef="let offer">{{ offer.publicationDate }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openJobDetails(row)"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  