.container {
    background-color: #100e17;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
}

.crawler-session {
    margin-bottom: 20px;
}

.data-list {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}