<div class="container">
    <div class="home-sidebar">
        <div class="switch-button">
            <input type="checkbox" id="toggle" (click)="onToggle($event)">
            <label for="toggle">
                <div class="toggle">
                    <div class="toggle-content">
                        <div class="left">Données</div>
                        <div class="right">Sessions</div>
                    </div>
                    <div class="bar"></div>
                </div>
            </label>
        </div>

    </div>
    <router-outlet></router-outlet>
</div>