<div class="navigation-container">
    <div class="top">
        <a routerLink="/home/data-list">
            <div class="navigation-item">
                <img src="assets/images/data-list-image.png" alt="Data List Icon">
                <h2>Liste des Données</h2>
            </div>
        </a>
    </div>
    <div class="bottom">
        <div class="bottom-left">
            <a routerLink="/home/crawler-session">
                <div class="navigation-item">
                    <img src="assets/images/crawler-bot.png" alt="Crawler Session Icon">
                    <h2>Session du Crawler</h2>
                </div>
            </a>
        </div>
        <div class="bottom-right">
            <a routerLink="/home/crawler-config">
                <div class="navigation-item">
                    <img src="assets/images/crawler-config.png" alt="Crawler Session Icon">
                    <h2>Configuration du Crawler</h2>
                </div>
            </a>
        </div>

    </div>
</div>